body{
    margin: 0;
    font-family: Roboto;
}

.sidebar{
    background-color: #0ea5e9;
    grid-row: 1 / 3;
    padding-left: 20px;
    color: white;

    
}
@font-face{
    font-family: Roboto;
    src: url(./assets/roboto/Roboto-Regular.ttf);
}

.top-section{
    background-color: white;
    padding: 20px;
}
.top-section-top{
    display: grid;
    grid-template-columns: min-content 20%;
    justify-content: space-between;
    padding-right: 100px;
    align-items: center;
    
    
    
}
.notification-icon{
    height:30px;
}
.user-info-div{

    display: grid;
    grid-template-columns: repeat(3,min-content);
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap;
    width: min-content;
    align-items: center;

    
     
    

}
.user-info-div img{
    width: 63px;
}
.search-div
{
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: 20px;
}
input[type="search"]
{
    background-color: #dde2e5;
    border: none;
    border-radius: 20px;
    height: 28px;
    width: 500px;
    color: black;
    font-weight: bold;
}
input[type="search"]:focus{
    outline: none;
}
.bottom-section{
    background-color: #dde2e5;
    grid-column: 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    
  
    
    
}
.main-container{
    display: grid;
    grid-template-columns: 250px 4fr;
    

}
.right-bottom{
    background-color: blue;

    
}
.right-bottom .card{
    border: 2px solid white;
}
.left-bottom{
    background-color: #dde2e5;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));

}

.left-bottom .card{
    border: 2px solid white;
    background-color:white;
    border-left: 3px solid orange;
    border-radius: 10px;

}

.dashboard-icon{
    width: 50px;
    position: relative;
    top: 15px;
    
    
}
.sidebar ul{
    font-weight: bold;
    font-size: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 70px;
    margin-left: 10px;

}
.sidebar ul img{
    width: 25px;
    
}
.sidebar li{
    margin-top: 15px;
    display: grid;
    grid-template-columns: min-content min-content;
    gap: 15px;
    align-items: center;
}

 .dashboard-icon-div{
    display: grid;
    grid-template-columns: 50px 50px;
    font-weight: bold;
    font-size: 25px;
    gap: 10px;
    margin-bottom: 35px;
    margin-top: 12px;
} 




